$color-primary: hsl(219, 83%, 43%);
$color-secondary: hsl(281, 83%, 43%);

$color-black   : hsl(0, 0%, 0%);
$color-black-10: hsl(0, 0%, 10%);
$color-black-20: hsl(0, 0%, 20%);
$color-black-30: hsl(0, 0%, 30%);

$color-gray-40: hsl(0, 0%, 40%);
$color-gray-50: hsl(0, 0%, 50%);
$color-gray-60: hsl(0, 0%, 60%);
$color-gray-70: hsl(0, 0%, 70%);
$color-gray-80: hsl(0, 0%, 80%);
$color-gray-90: hsl(0, 0%, 90%);

$color-white   : hsl(0, 0%, 100%);
$color-white-98: hsl(0, 0%, 98%);
$color-white-96: hsl(0, 0%, 96%);
$color-white-94: hsl(0, 0%, 94%);
$color-white-92: hsl(0, 0%, 92%);

$color-font: $color-black-30;
